@import "colors.css";

#battery {
  padding: 0 10px;
  color: @secondary_fixed_dim;
}

#clock {
  padding: 0 10px;
  color: @secondary_fixed_dim;
}

#battery:hover,
#clock:hover {
  background-color: alpha(@on_surface, 0.08);
}
